#TSLA Stock market prediction

In [11]:
# first install the yahoo finance library if you don't have it already
!pip install yfinance

Requirement already satisfied: yfinance in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (0.1.54)
Requirement already satisfied: pandas>=0.24 in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (from yfinance) (1.0.1)
Requirement already satisfied: numpy>=1.15 in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (from yfinance) (1.18.1)
Requirement already satisfied: requests>=2.20 in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (from yfinance) (2.22.0)
Requirement already satisfied: multitasking>=0.0.7 in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (from yfinance) (0.0.9)
Requirement already satisfied: pytz>=2017.2 in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (from requests>=2.20->yfinance) (1.25.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2019.11.28)
Requirement already satisfied: six>=1.5 in /home/jonas/Documents/NLP4Web/.venv/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.14.0)
You are using pip version 19.0.3, however version 20.0.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [12]:
import numpy as np
import yfinance as yf

In [13]:
tsla = yf.Ticker("TSLA")
print(tsla)
# uncomment to get all data
tsla.history(period="max")

yfinance.Ticker object <TSLA>

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2010-06-29   19.00   25.00   17.54   23.89  18766300          0             0
2010-06-30   25.79   30.42   23.30   23.83  17187100          0             0
2010-07-01   25.00   25.92   20.27   21.96   8218800          0             0
2010-07-02   23.00   23.10   18.71   19.20   5139800          0             0
2010-07-06   20.00   20.00   15.83   16.11   6866900          0             0
...            ...     ...     ...     ...       ...        ...           ...
2020-02-04  882.96  968.99  833.88  887.06  60938800          0             0
2020-02-05  823.26  845.98  704.11  734.70  48423800          0             0
2020-02-06  699.92  795.83  687.00  748.96  39880800          0             0
2020-02-07  730.55  769.75  730.00  748.07  17063500          0             0
2020-02-10  800.00  819.99  752.40  771.28  24658700          0             0

[2421 rows x 7 columns]

### Prepare data for training

In [14]:
stocks = tsla.history(start='2018-01-01', end='2018-06-05')
stocks

              Open    High     Low   Close   Volume  Dividends  Stock Splits
Date
2018-01-02  312.00  322.11  311.00  320.53  4352200          0             0
2018-01-03  321.00  325.25  315.55  317.25  4521500          0             0
2018-01-04  312.87  318.55  305.68  314.62  9946300          0             0
2018-01-05  316.62  317.24  312.00  316.58  4591200          0             0
2018-01-08  316.00  337.02  315.50  336.41  9859400          0             0
...            ...     ...     ...     ...      ...        ...           ...
2018-05-29  278.51  286.50  276.15  283.76  5666600          0             0
2018-05-30  283.29  295.01  281.60  291.72  7489700          0             0
2018-05-31  287.21  290.37  282.93  284.73  5919700          0             0
2018-06-01  285.86  291.95  283.84  291.82  5424400          0             0
2018-06-04  294.34  299.00  293.55  296.74  4797800          0             0

[106 rows x 7 columns]

### Observation:
There are 34 days of data missing

In [15]:
# drop unneccessary columns
print(stocks.columns)
stocks.drop(columns='High Low Volume Dividends'.split()+["Stock Splits"], inplace=True)
stocks.head()

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Dividends', 'Stock Splits'], dtype='object')

              Open   Close
Date
2018-01-02  312.00  320.53
2018-01-03  321.00  317.25
2018-01-04  312.87  314.62
2018-01-05  316.62  316.58
2018-01-08  316.00  336.41

In [16]:
# create label indicating if stock market has grown during the day (Close > Open)
stocks['PriceUp'] = stocks['Open'] < stocks['Close']
stocks.head()

              Open   Close  PriceUp
Date
2018-01-02  312.00  320.53     True
2018-01-03  321.00  317.25    False
2018-01-04  312.87  314.62     True
2018-01-05  316.62  316.58    False
2018-01-08  316.00  336.41     True

In [17]:
# check if the new column has equally distributed values
stocks.PriceUp.value_counts()

True     55
False    51
Name: PriceUp, dtype: int64

### Discussion
We have an even distribution between positive and negative examples, which is good for training.

In [18]:
# check stocks again before saving
stocks

              Open   Close  PriceUp
Date
2018-01-02  312.00  320.53     True
2018-01-03  321.00  317.25    False
2018-01-04  312.87  314.62     True
2018-01-05  316.62  316.58    False
2018-01-08  316.00  336.41     True
...            ...     ...      ...
2018-05-29  278.51  283.76     True
2018-05-30  283.29  291.72     True
2018-05-31  287.21  284.73    False
2018-06-01  285.86  291.82     True
2018-06-04  294.34  296.74     True

[106 rows x 3 columns]

In [19]:
stocks.to_json('./processed_data/stock/stocks_cleaned.json')

In [20]:
# uncomment to get the profile of the data
# import pandas_profiling as profile
# profile = profile.ProfileReport(stocks, title='Pandas Profiling Report', html={'style':{'full_width':True}})
# profile.to_file(output_file="stocks_df_report.html")
# profile.to_notebook_iframe()