In [139]:
import pandas as pd
# reset colwitdth options when running all cells 
pd.reset_option('display.max_colwidth')

In [140]:
filename = "tweets_2018_10.json"
tweets = pd.read_json("../data/"+filename)
print("Tweets DF shape: ", tweets.shape)
tweets.head()

Tweets DF shape:  (699237, 21)

,has_media,hashtags,img_urls,is_replied,is_reply_to,likes,links,parent_tweet_id,replies,reply_to_users,...,screen_name,text,text_html,timestamp,timestamp_epochs,tweet_id,tweet_url,user_id,username,video_url
0,False,[],[],False,False,0,[],,0,[],...,21Deepakchauhan,“Our senses enable us to perceive only a minut...,"<p class=""TweetTextSize js-tweet-text tweet-te...",2018-05-07 23:59:54,2018-05-07 23:59:54,993641605260238848,/21Deepakchauhan/status/993641605260238848,4211216135,Deepak Chauhan,
1,True,"[Grimes, ElonMusk, Tesla]",[https://pbs.twimg.com/media/Dcofwl6XUAAXo45.jpg],True,False,3,[],,3,[],...,SpartanWire,19 years ago the guy on the left had no chance...,"<p class=""TweetTextSize js-tweet-text tweet-te...",2018-05-07 23:59:51,2018-05-07 23:59:51,993641592488628224,/SpartanWire/status/993641592488628224,3704044761,SpartanWire,
2,False,[],[],False,False,0,[],,0,[],...,everymoshling,Who are these Zoshling creatures? I'm afraid I...,"<p class=""TweetTextSize js-tweet-text tweet-te...",2018-05-07 23:59:18,2018-05-07 23:59:18,993641453556387840,/everymoshling/status/993641453556387840,3719699973,Buster Bumblechops,
3,False,[],[],False,False,0,[https://www.zerohedge.com/news/2018-05-07/aft...,,0,[],...,NosbigsTrader,"After Taunting Shorts With Threats Of ""Unreal ...","<p class=""TweetTextSize js-tweet-text tweet-te...",2018-05-07 23:59:15,2018-05-07 23:59:15,993641444190638080,/NosbigsTrader/status/993641444190638082,747614854073171968,SzeriNosBiggsTrading2.0,
4,False,[],[],False,False,0,[http://dlvr.it/QS5YD0],,0,[],...,Forextrade3,Intraday Update: Dow Jumps 150 Points as Tesla...,"<p class=""TweetTextSize js-tweet-text tweet-te...",2018-05-07 23:59:15,2018-05-07 23:59:15,993641443737550848,/Forextrade3/status/993641443737550848,619674970,Forex trade,

In [141]:
# drop columns we will not use
tweets.drop(columns='has_media parent_tweet_id video_url user_id tweet_url tweet_id is_reply_to reply_to_users '
            'timestamp_epochs text_html screen_name is_replied'.split(), inplace=True)

# rearrange columns
cols = 'timestamp hashtags text username likes replies retweets links img_urls'.split() 
tweets = tweets[cols]

print("Tweets DF shape: ", tweets.shape)
tweets.head()

Tweets DF shape:  (699237, 9)

,timestamp,hashtags,text,username,likes,replies,retweets,links,img_urls
0,2018-05-07 23:59:54,[],“Our senses enable us to perceive only a minut...,Deepak Chauhan,0,0,0,[],[]
1,2018-05-07 23:59:51,"[Grimes, ElonMusk, Tesla]",19 years ago the guy on the left had no chance...,SpartanWire,3,3,0,[],[https://pbs.twimg.com/media/Dcofwl6XUAAXo45.jpg]
2,2018-05-07 23:59:18,[],Who are these Zoshling creatures? I'm afraid I...,Buster Bumblechops,0,0,0,[],[]
3,2018-05-07 23:59:15,[],"After Taunting Shorts With Threats Of ""Unreal ...",SzeriNosBiggsTrading2.0,0,0,0,[https://www.zerohedge.com/news/2018-05-07/aft...,[]
4,2018-05-07 23:59:15,[],Intraday Update: Dow Jumps 150 Points as Tesla...,Forex trade,0,0,0,[http://dlvr.it/QS5YD0],[]

In [142]:
## remove all tweets that do not have a tesla or elonmusk hashtag
# check hashtags column types first
print(tweets['hashtags'].dtypes)

object

In [143]:
#INSIGHT: Even the dtype of the hashtags column is 'object', when we access it, we get a list
print(type(tweets.iloc[0]['hashtags']))
print(' '.join(tweets.iloc[1]['hashtags']))
print('tesla' in ' '.join(tweets.iloc[1]['hashtags']))
# type(tweets.iloc[1]['hashtags'][0])

<class 'list'>
Grimes ElonMusk Tesla
False

In [144]:
# TODO: maybe we should not delete other tweets as this drastically reduces our data size... 
# on the other hand quite a lot of other tweets are rubbish.
# Consider: there are several hashtags containing the string 'tesla' in them, which are all relevant to us!
# tweets = tweets['tesla' in ' '.join(tweets['hashtags'])]
# tweets = tweets['tesla' in tweets['hashtags'].apply(' '.join)
# tweets = tweets[tweets['hashtags'].str.contains('tesla')==True]
tweets = tweets[tweets['hashtags'].apply(lambda tags: any(tag in ' '.join(tags).lower() for tag in ['tesla', 'elon', 'tsla', 'musk']))==True]
print(tweets.shape)
tweets.head()

(68516, 9)

,timestamp,hashtags,text,username,likes,replies,retweets,links,img_urls
1,2018-05-07 23:59:51,"[Grimes, ElonMusk, Tesla]",19 years ago the guy on the left had no chance...,SpartanWire,3,3,0,[],[https://pbs.twimg.com/media/Dcofwl6XUAAXo45.jpg]
21,2018-05-07 23:59:51,"[Grimes, ElonMusk, Tesla]",19 years ago the guy on the left had no chance...,SpartanWire,3,3,0,[],[https://pbs.twimg.com/media/Dcofwl6XUAAXo45.jpg]
46,2018-05-07 23:53:36,"[tesla, charger, electricvehicle, teslalife, t...",At the Kettleman Supercharger: includes 40 sta...,Tesla Owners Ontario,11,0,3,[],[https://pbs.twimg.com/media/DcoeQCCU8AAWxLm.j...
52,2018-05-07 23:51:35,"[tesla, space]",Does everyone realize there is a #tesla floati...,Jordan Blaskovits,4,0,0,[],[]
60,2018-05-07 23:50:02,"[qi, scalar, weapon, tesla, mantra]","... However, the artificial ""Qi"" is quite low ...",氣功めわん,0,0,0,[],[]

#### Observation:
We have tweets in different languages: Already saw one in German. Would suggest to first ignore this fact.

In [145]:
# print some tweets to see how we could further clean them up
print('\n\n'.join(list(tweets.iloc[0:20:5,2])))

19 years ago the guy on the left had no chance at #Grimes.
#ElonMusk #Tesla pic.twitter.com/Y4uW6c9gyc

Good point! Let’s do the whole line up... but the #TeslaSemi should pull a trailer of other Chocolate cars.

I think its price is over blown and you can thank all the malinvestment that was caused by government interventionism into electric cars. Not just from investors, but also how Tesla invested in its infrastructure, like automation that was not ready for prime time. #Tech #Tesla https://twitter.com/zerohedge/status/993278242810408960 …

#Tesla design chief talks about his inspiration when designing cars, read here: http://ow.ly/ojtc30jSAnV  $TSLA #TeslaMotors #ElectricVehicle #ElonMusk

#### Observations:
- remove Links (can also later be removed by spacy!)
- some tweets do not contain Tesla related information at all

In [146]:
# remove links from all the tweet texts
tweets['text'] = [text.replace(links[0], '') if len(links)>0 else text 
                  for (text,links) in zip(tweets['text'],tweets['links']) ]
tweets['text'] = [text.replace(links[0], '') if len(links)>0 else text 
                  for (text,links) in zip(tweets['text'],tweets['img_urls']) ]

print('\n\n'.join(list(tweets.iloc[0:20:5,2])))

19 years ago the guy on the left had no chance at #Grimes.
#ElonMusk #Tesla pic.twitter.com/Y4uW6c9gyc

Good point! Let’s do the whole line up... but the #TeslaSemi should pull a trailer of other Chocolate cars.

I think its price is over blown and you can thank all the malinvestment that was caused by government interventionism into electric cars. Not just from investors, but also how Tesla invested in its infrastructure, like automation that was not ready for prime time. #Tech #Tesla  …

#Tesla design chief talks about his inspiration when designing cars, read here:   $TSLA #TeslaMotors #ElectricVehicle #ElonMusk

In [147]:
# Some Links could still not be removed as they are not saved as an image url or link. We'll remove them later with spacy.
# remove columns "links" and "img_urls"
tweets.drop(columns=['links', 'img_urls'], inplace=True)
tweets.head()

,timestamp,hashtags,text,username,likes,replies,retweets
1,2018-05-07 23:59:51,"[Grimes, ElonMusk, Tesla]",19 years ago the guy on the left had no chance...,SpartanWire,3,3,0
21,2018-05-07 23:59:51,"[Grimes, ElonMusk, Tesla]",19 years ago the guy on the left had no chance...,SpartanWire,3,3,0
46,2018-05-07 23:53:36,"[tesla, charger, electricvehicle, teslalife, t...",At the Kettleman Supercharger: includes 40 sta...,Tesla Owners Ontario,11,0,3
52,2018-05-07 23:51:35,"[tesla, space]",Does everyone realize there is a #tesla floati...,Jordan Blaskovits,4,0,0
60,2018-05-07 23:50:02,"[qi, scalar, weapon, tesla, mantra]","... However, the artificial ""Qi"" is quite low ...",氣功めわん,0,0,0

### Discussion:
Actually I don't think that tweets that were not liked and retweeted could possibly influence the stock market. So we might try to remove them. On the other hand, a tweet could be a reaction to a change in the stock price, don't get any attention (no likes and retweets) but still relevant!

In [148]:
best_tweets = tweets[tweets['likes']>0]
print(best_tweets.shape)
best_tweets = best_tweets[best_tweets['replies']>0]
print(best_tweets.shape)
best_tweets = best_tweets[best_tweets['retweets']>0]
print(best_tweets.shape)
pd.set_option('display.max_colwidth', -1)
best_tweets.head()

(25376, 7)
(5493, 7)
(3494, 7)

,timestamp,hashtags,text,username,likes,replies,retweets
149,2018-05-07 23:30:03,"[Tesla, TeslaMotors, ElectricVehicle, ElonMusk]","#Tesla design chief talks about his inspiration when designing cars, read here: $TSLA #TeslaMotors #ElectricVehicle #ElonMusk",EVANNEX for Tesla,41,1,14
312,2018-05-07 23:00:00,"[Musk, Tesla]","#Musk compra acciones de #Tesla por US$9,85 millones ► pic.twitter.com/qkG7rnkFUt",Economía El Comercio,1,1,1
366,2018-05-07 22:51:05,"[Tesla, stocks, tradinghttps]",Good article on #Tesla $TSLA #stocks #trading …,Joel,2,1,1
491,2018-05-07 22:27:22,[tesla],Tesla short seller LOSSES rally HUGE that his face seems UNREAL! CHECK OUT! $TSLA #tesla …,ALEX,1,1,1
608,2018-05-07 22:07:06,"[Tesla, model3]",“Elon Musk just bought $9.95 million in Tesla stock” by @tictoc #Tesla #model3 $TSLA …,Ross Gerber,54,6,19

In [149]:
# remove tweets with too many hashtags, where 'tesla' is just a single one of and not that relevant
# check such kind of tweets first
too_many_tags = best_tweets[best_tweets['hashtags'].apply(lambda tags: len(tags)>10)==True]
print(too_many_tags.shape)
pd.set_option('display.max_colwidth', -1)
too_many_tags.head()

(188, 7)

,timestamp,hashtags,text,username,likes,replies,retweets
1036,2018-03-18 23:36:51,"[Nokia, Ericsson, IBM, Motorola, Samsung, HP, Sony, Comcast, Intel, Microsoft, Apple, Dell, Amazon, Netflix, Google, Salesforce, Tesla, Facebook, Twitter, Airbnb, Uber]",1865 #Nokia\n1876 #Ericsson \n1911 #IBM\n1928 #Motorola\n1938 #Samsung\n1939 #HP\n1946 #Sony\n1963 #Comcast\n1968 #Intel\n1975 #Microsoft\n1976 #Apple\n1984 #Dell\n1994 #Amazon\n1997 #Netflix\n1998 #Google\n1999 #Salesforce\n2003 #Tesla\n2004 #Facebook\n2006 #Twitter\n2008 #Airbnb\n2009 #Uber,Vanessa ₿,33,4,6
1229,2018-03-18 22:39:58,"[maintenance, experimental, postrock, blindface, electra, dynasty, ambient, newmusic, shop, workshop, shoegaze, tesla, power, guitar, wiredup, programmingpic]",Maintenance in the shop. \n-\n-#maintenance #experimental #postrock #blindface #electra #dynasty #ambient #newmusic #shop #workshop #shoegaze #tesla #power #guitar #wiredup #programmingpic.twitter.com/Mig3R1SH6V,BlindFace,7,1,3
1534,2018-03-18 21:00:39,"[Tesla, Vanagon, Sustainable, OffGrid, SwissArmy, Van, Surf, Snow, Camp, Live, Love, VanLife]",Dear @elonmusk can you please build an updated #Tesla version of the classic VW #Vanagon? We really need a #Sustainable #OffGrid #SwissArmy #Van #Surf #Snow #Camp #Live #Love #VanLife pic.twitter.com/1zRWsWTskW,Shayn Almeida,12,2,4
4495,2018-03-18 06:20:07,"[Tesla, Model3, Europe, ElectricCars, smartcity, autonomous, ai, Iot, robot, tech, 5g, driverless, selfdriving, mobility, automotive, startup, future, technology, Transportation, technews, robotics, startupspic]","Se avete fretta, #Tesla #Model3 è già in vendita in Europa\n\n …\n#Europe #ElectricCars #smartcity #autonomous #ai #Iot #robot #tech #5g #driverless #selfdriving #mobility #automotive #startup #future #technology #Transportation #technews #robotics #startupspic.twitter.com/KWSUxMoJT4",guidaautonoma,8,2,5
9622,2018-03-17 02:03:42,"[startups, energyefficinency, energy, building, iot, tech, architecture, smartcity, interiordesign, corporate, green, climatechange, global, warm, tesla]",EV TAX CREDIT CAP ABOUT 2 EXPIRE UTILITIES SAY HOLD ON … #startups #energyefficinency #energy #building #iot #tech #architecture #smartcity #interiordesign #corporate #green #climatechange #global #warm #tesla pic.twitter.com/LLNhIwsGKm,Energy House,1,1,2

In [150]:
# some tweets with many tags seem to be quite relevant, so just remove those coming from specific users
remove_users = ['ADRIAN AGUILAR', 'Our Creator', 'BlindFace']

print(best_tweets.shape)
best_tweets = best_tweets[best_tweets['username'].apply(lambda user: user in remove_users)==False]
print(best_tweets.shape)
best_tweets.head()

(3494, 7)
(3494, 7)

,timestamp,hashtags,text,username,likes,replies,retweets
149,2018-05-07 23:30:03,"[Tesla, TeslaMotors, ElectricVehicle, ElonMusk]","#Tesla design chief talks about his inspiration when designing cars, read here: $TSLA #TeslaMotors #ElectricVehicle #ElonMusk",EVANNEX for Tesla,41,1,14
312,2018-05-07 23:00:00,"[Musk, Tesla]","#Musk compra acciones de #Tesla por US$9,85 millones ► pic.twitter.com/qkG7rnkFUt",Economía El Comercio,1,1,1
366,2018-05-07 22:51:05,"[Tesla, stocks, tradinghttps]",Good article on #Tesla $TSLA #stocks #trading …,Joel,2,1,1
491,2018-05-07 22:27:22,[tesla],Tesla short seller LOSSES rally HUGE that his face seems UNREAL! CHECK OUT! $TSLA #tesla …,ALEX,1,1,1
608,2018-05-07 22:07:06,"[Tesla, model3]",“Elon Musk just bought $9.95 million in Tesla stock” by @tictoc #Tesla #model3 $TSLA …,Ross Gerber,54,6,19

### Observation:
Even after doing quite a lot of preprocessing, we still see some tweets that don't for sure contain relevant information. In the scope of this project, we stop the data cleaning at this moment, but would definitely do much more in a real world scenario, including collecting much more tweets.

In [151]:
SAVE_DF = True
if SAVE_DF:
    best_tweets.to_json('../data/processed/strict/'+filename)
    print('FINISHED SAVING!')

FINISHED SAVING!